@keyframes open {
  0% {
    transform: translateX(100%);
    visibility: visible;
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes close {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
    visibility: hidden;
  }
}

.menu {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  animation: close .6s linear normal forwards;
}

.menu__container {
  position: relative;
  width: 68%;
  padding: 159px 0 92px;
  background-color: #202020;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__link {
  max-width: max-content;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 28px;
  transition: opacity 1s ease-in;
}

.menu__link:last-of-type {
  margin: 0;
}

.menu__link_active::after {
  display: block;
  content: '';
  width: 100%;
  height: 2px;
  background-color: #FFFFFF;
  margin-top: 4px;
  margin-bottom: -4px;
}

.menu__profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  transition: opacity 1s ease-in;
}

.menu__icon {
  margin-left: 17px;
  padding: 8px 7px;
  border-radius: 4px;
  background-color: #313131;
}

.menu__btn-close {
  padding: 0;
  position: absolute;
  top: 2%;
  right: 4%;
  border: none;
  outline: none;
  width: 22px;
  height: 22px;
  background-color: #202020;
  background-image: url('../../images/close-button.svg');
  background-position: center;
  transition: opacity 1s ease-in;
}

.menu__link:hover,
.menu__profile:hover,
.menu__btn-close:hover {
  cursor: pointer;
  opacity: .5;
}

.is-open {
  animation: open .6s linear normal forwards;
}

.remove {
  display: none;
}

@media (max-width: 420px) {
  .menu {
    animation: close .4s linear normal forwards;
  }

  .menu__container {
    width: 100%;
    padding: 144px 0 48px;
  }

  .menu__link {
    margin-bottom: 24px;
  }

  .is-open {
    animation: open .4s linear normal forwards;
  }
}

