.saved-movies {
  width: 100%;
  background-color: #202020;
  color: #FFFFFF;
}

.saved-movies__container {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 70px;
  box-sizing: border-box;
}

.saved-movies__break {
  max-width: 100%;
  height: 1px;
  background-color: #424242;
}

@media (max-width: 960px) {
  .saved-movies__container {
    padding: 0 30px;
  }
}

@media (max-width: 550px) {
  .saved-movies__container {
    padding: 0 10px;
  }
}